/* 부스 */
body{
    position: relative;
    width: 375px;
    height: 1416px;
    background: #090B26;

    margin: 0px;
    padding: 0px;
    border: 1px solid red;
}

/* main-title */
#main-title{
    position: absolute;
    width: 104px;
    height: 38px;
    left: 136px;
    top: 20px;

    font-family: 'BagerichDemo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;

    text-align: center;
    letter-spacing: -0.02em;
    color: #3A4DEE;
}

#sub-title{
    position: absolute;
    width: 55px;
    height: 14px;
    left: 161px;
    top: 58px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;

    color: #3A4DEE;
}

/* main navbar */
#first-tap-wrap{
    width: 375px;
    height: 41px;
    display: flex;
    
    position: absolute;
    top: 96px;
}

#first-tap1{
    width: 125px;
    border-bottom: 1px solid #3A4DEE;
}

#first-tap2{
    width: 125px;
    border-bottom: 1px solid #3A4DEE;
}

#first-tap3{
    width: 125px;
    border-bottom: 1px solid #3A4DEE;
}

#first-time{
    /* day1 */
    position: absolute;
    left: 48px;
    
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-align: center;

    color: #3A4DEE;
}

#group-info{
    /* 05.10 */
    position: absolute;
    left: 42px;
    top: 16px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #3A4DEE;
}

#second-time{
    position: absolute;
    left: 172px;
    
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;

    text-align: center;

    color: #3A4DEE;
}

#market-info{
    position: absolute;
    left: 168px;
    top: 16px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;

    text-align: center;
    color: #3A4DEE;
}

#third-time{
    position: absolute;
    left: 296px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-align: center;

    color: #3A4DEE;
}

#day3-info{
    position: absolute;
    left: 292px;
    top:16px;
    
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 125% */

    text-align: center;

    color: #3A4DEE;
}


/* sub-navbar */
.second-tap{
    position: absolute;
    width: 375px;
    height: 1408px;
    top: 136px;
}

.loc1{
    box-sizing: border-box;

    position: absolute;
    width: 80px;
    height: 38px;
    left: 19px;
    top: 12px;

    border-radius: 19px;
    border: 1px solid #3A4DEE;
    border-radius: 19px;
}

#location1{
    background: #3A4DEE;
}

.loc2{
    box-sizing: border-box;
    position: absolute;
    width: 117px;
    height: 38px;
    left: 109px;
    top: 12px;

    border: 1px solid #3A4DEE;
    border-radius: 19px;
}

#location2{
    background: #3A4DEE;
}

.loc3{
    box-sizing: border-box;

    position: absolute;
    width: 117px;
    height: 38px;
    left: 236px;
    top: 12px;

    border: 1px solid #3A4DEE;
    border-radius: 19px;
}

#location3{
    background: #3A4DEE;
}

.loc1-text{
    /* 모두보기 */    
    position: absolute;

    top: 9px;
    left: 15px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.1px;
}

#location1-text{
    color: #090B26;
}

.loc2-text{
    /* 이벤트 부스 */
    position: absolute;
    width: 65px;
    height: 20px;
    left: 26px;
    top: 9px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.1px;
}

#location2-text{
    color: #090B26;
}

.loc3-text{
    /* 먹거리 장터 */
    position: absolute;
    width: 65px;
    height: 20px;
    left: 26px;
    top: 9px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;

    color: #3A4DEE;
}

#location3-text{
    color: #090B26;
}

/* 세부 내용 */
/* 부스 설명 첫번째 sector(2개 묶음) */
.location-sector1-wrap{

    position: absolute;
    top: 74px;
    left: 20px;
    width: 335px;
    height: 241px;
}

/* 부스 설명 두번째 sector(2개 묶음) */
.location-sector2-wrap{
    position: absolute;
    top: 351px;
    left: 20px;
    width: 335px;
    height: 241px;
}

/* sector의 첫번째 요소 */
.location-sector1{
    float: left;
    width: 163px;
    height: 241px;
}

/* sector의 두번째 요소 */
.location-sector2{
    float: right;
    width: 163px;
    height: 241px;
}

.img{
    position: absolute;
    width: 164px;
    height: 163px;
    top: 0px;
    border-radius: 4px;
}

.major{
    position: absolute;
    margin: 0px;
    top: 175px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0.1px;
    color: #92AAFF;
}

.sub{
    position: absolute;
    margin: 0px;
    top: 193px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    
    letter-spacing: 0.1px;
    color: #92AAFF;
}

.tag-container{
    display: flex;
    position: absolute;
    top: 223px;
    margin: 0px;
}

.place{
    box-sizing: border-box;
    padding: 4px 8px;
    gap: 10px;
    
    border: 1px solid #92AAFF;
    border-radius: 4px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0.1px;

    color: #92AAFF;
}

.tag-info{

    display: flex;
    box-sizing: border-box;

    padding: 4px 8px;
    gap: 10px;
    
    top: 223px;
    
    border: 1px solid #627BFF;
    border-radius: 4px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0.1px;

    color: #627BFF;
}
