/* #main{
    background-color: #090B26;
    text-align: center ;
    color: #3A4DEE;
}

.mainTitleText{
    2023년 한성대학교 대동제

    font-size: 14px;
    line-height: 160%;
}

.mainBlueFlameText{
    font-size: 60px;
}

.mainStandardText{
    font-size: 12px;
    line-height: 160%;
    letter-spacing: -0.04em;
}

.mainSmallText{
    font-size: 8px;
    line-height: 160%;
} */
html, body{
    font-size:62.5%;
}

p, div{
    margin: 0;
    padding: 0;
}

/* input[id="icon"] {
    display:none;
} 

body{
    height:5000px;
}

input[id="icon"] + label{
    position: relative;
    display:block;
    width:24px;
    height:20px;
    cursor:pointer;  /* 커서를 올려놓을 때 모양이 바뀐다.
} 

input[id="icon"] + label > span {
    position: absolute;
    display:block;
    width:100%;
    height:2px;
    background:#3A4DEE;
    transition: all 0.35s;  /* 진행되는 과정들을 천천히 보여줄 수 있다. 0.35초 동안 진행됨 
    z-index:2;

}

input[id="icon"] + label > span:nth-child(1) {
    top:0px;
}

input[id="icon"] + label > span:nth-child(2) {
    top:50%;
    transform: translateY(-50%);  /* 엘리먼트를 변형할 때 쓴다. 비틀거나 구부리거나 돌릴 때 . 여러가지로 모양을 바꿀 때 
}

input[id="icon"] + label > span:nth-child(3) {
    bottom:0px;
}


input[id="icon"]:checked + label > span:nth-child(1) {
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}

input[id="icon"]:checked + label > span:nth-child(2) {
    opacity: 0;
}

input[id="icon"]:checked + label > span:nth-child(3) {
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}

#icon + label + #header {
    position:fixed;  /* 스크롤을 내리더라도 같은 위치에서 붙어다닌다. 
    width:300px;
    height:100%;
    background:#FFF;
    /* top:0px;
    padding:60px 25px 25px 25px; 
    box-sizing:border-box;
    right:-300px;
    z-index:1;
    transition: all 0.35s;
}

#icon:checked + label + #header {
    right:0px;
}

#icon:checked + label + #header > ul > li > a {
    color: #3A4DEE;

} */
.sec{
    height: 100vh;
    background-color: #090B26;
    color: #3A4DEE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sec1div{
    width: 100vw;
    background-color: #7881FF14;
    color: #3A4DEE;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2vh;
}

#sec1div :nth-child(1){
    font-size: 1.1rem;
    margin-top: 1.6rem;
}

#sec1div :nth-child(2){
    font-size: 0.8rem;
    margin-bottom: 1.6rem;
}

#sec2{
    position: relative;
    padding-top: 7vh;
}
.sec2day{
    width: 100vw;
    background-color: #7881FF14;
}
.sec2day > p{
    height: 5vh;
    font-size: 1rem;
    color: #3A4DEE;
    border-top: 1px solid #3A4DEE;
    border-bottom: 1px solid #3A4DEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec2artistA{
    height: 12vh;
}
.sec2artistA > div{
    position: absolute;
    left: 0;
}
.sec2artistA > div :nth-child(1){
    font-size: 2.4rem;
}
.sec2artistA > div :nth-child(2){
    font-size: 1.1rem;
}
.sec2artistA > img{
    position: absolute;
    right: 0;
}

.sec2artistB{
    height: 12vh;
}
.sec2artistB > div{
    position: absolute;
    right: 0;
    text-align: right;
}
.sec2artistB > div :nth-child(1){
    font-size: 2.4rem;
}
.sec2artistB > div :nth-child(2){
    font-size: 1.1rem;
}
.sec2artistB > img{
    position: absolute;
    left: 0;
}

.container {
    display: grid;
	grid-template-columns: 1fr 1fr;
    /* height: 6vh; */
    margin-top: 20px;
    
}

.navButton{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    background: rgba(127, 154, 205, 0.1);
    border: 1px solid #92AAFF;
    border-radius: 16px;
    color: #92AAFF;
    width: 90%;
    height: 100%;
}

#sec3nav{
    display: flex;
    flex-direction: column;
    height: 6vh;
    margin-left: 1rem;
}

#sec3nav :nth-child(1){
    height: 50%;

}

#sec3nav :nth-child(2){
    font-size: 1.3rem;
}

.arrow{
    position: absolute;
    right: 5%;
}

.navButtonText{
    text-align: left;
}